@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?qi7lrt');
  src:  url('../fonts/icomoon.eot?qi7lrt#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qi7lrt') format('truetype'),
    url('../fonts/icomoon.woff?qi7lrt') format('woff'),
    url('../fonts/icomoon.svg?qi7lrt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-at-arroba:before {
  content: "\e900";
}
.icon-at-candado:before {
  content: "\e902";
}
.icon-at-llave:before {
  content: "\e903";
}
