@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.ttf");
  font-weight: normal; }
@font-face {
  font-family: "Lato-Italic";
  src: url("../fonts/Lato-Italic.ttf");
  font-weight: normal; }
@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato-Light.ttf");
  font-weight: normal; }
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.ttf");
  font-weight: normal; }
@font-face {
  font-family: "Piyama-Party";
  src: url("../fonts/PyjamaParty.ttf");
  font-weight: normal; }
.index-home {
  background-image: url(../images/background/back_g_index.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #1cb8e8;
  background-size: cover; }
  .index-home .logo-AT {
    padding-top: 30px; }
  .index-home .pass-reset {
    font-family: "Piyama-Party" !important;
    font-size: 10px;
    margin-top: -25px; }
    .index-home .pass-reset a {
      color: #000; }

img {
  margin: 0 auto; }

body {
  font-family: "Lato-Regular", sans-serif !important; }

/* =====================
 * Margenes */
/* ===================== */
.mgtop5 {
  margin-top: 5px !important; }

.mgtop10 {
  margin-top: 10px !important; }

.mgtop15 {
  margin-top: 15px; }

.mgtop25 {
  margin-top: 25px; }

.mgtop30 {
  margin-top: 30px; }

.mgtop40 {
  margin-top: 40px; }

.mgtop60 {
  margin-top: 60px; }

.mgbttm15 {
  margin-bottom: 15px; }

.mgbttm30 {
  margin-bottom: 30px; }

.mgbttm65 {
  margin-bottom: 65px; }

/* =====================
 * Padding */
/* ===================== */
.padding-not {
  padding: 0px !important; }

/* =====================
 * Titulos */
/* ===================== */
.title-AT {
  font-family: "Piyama-Party" !important;
  font-size: 15px;
  line-height: 40px;
  /*========================
   * Section */
  /*======================== */ }

.agenda-image-section {
  margin-top: 5px;
  margin-left: -2px; }

.button-back img {
  height: 40px;
  margin-right: 0px;
  padding: 10px;
  background-image: url(../images/background/b_back.png);
  background-size: cover; }

.form-index .input-group input {
  font-family: "Lato-Regular" !important;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px; }
.form-index .input-group .input-group-addon {
  color: #FFF;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  background: #000;
  border: none !important; }
.form-index .button-send-form {
  border-radius: 20px;
  font-family: "Lato-Regular" !important;
  background: #222228;
  background: -moz-linear-gradient(top, #222228 49%, #222228 51%, #222228 51%, #222228 61%, #000000 100%);
  background: -webkit-linear-gradient(top, #222228 49%, #222228 51%, #222228 51%, #222228 61%, #000000 100%);
  background: linear-gradient(to bottom, #222228 49%, #222228 51%, #222228 51%, #222228 61%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222228', endColorstr='#000000',GradientType=0 );
  color: #FFF;
  border: none !important; }

.form-modal .input-group input {
  border-right: none !important;
  font-family: "Lato-Regular" !important;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px; }
.form-modal .input-group .input-group-addon {
  color: #7497ca;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  background: #FFF !important;
  border: none !important; }
.form-modal .send-modal {
  border-radius: 20px;
  font-family: "Lato-Regular" !important;
  background: #e2e3e9;
  background: -moz-linear-gradient(top, #e2e3e9 0%, #e2e3e9 29%, #e2e3e9 29%, #ccd1d8 49%, #ccd1d8 100%);
  background: -webkit-linear-gradient(top, #e2e3e9 0%, #e2e3e9 29%, #e2e3e9 29%, #ccd1d8 49%, #ccd1d8 100%);
  background: linear-gradient(to bottom, #e2e3e9 0%, #e2e3e9 29%, #e2e3e9 29%, #ccd1d8 49%, #ccd1d8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e3e9', endColorstr='#ccd1d8',GradientType=0 ); }

.form-profile input {
  color: #FFF !important;
  border: none !important;
  border-radius: 0px !important; }
.form-profile .input-morado {
  background: #253781;
  font-family: "Lato-Regular"; }
.form-profile .input-morado-light {
  background: #91568d; }
.form-profile .input-green-light {
  background: #73c096; }
.form-profile .input-blue-light {
  background: #70c8dd; }
.form-profile .send-button-profile {
  background: #6598d1 !important;
  background: -moz-linear-gradient(top, #6598d1 1%, #6598d1 33%, #2a82c4 65%, #2a82c4 100%) !important;
  background: -webkit-linear-gradient(top, #6598d1 1%, #6598d1 33%, #2a82c4 65%, #2a82c4 100%) !important;
  background: linear-gradient(to bottom, #6598d1 1%, #6598d1 33%, #2a82c4 65%, #2a82c4 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6598d1', endColorstr='#2a82c4', GradientType=0) !important;
  border-radius: 20px !important;
  border: none !important; }
.form-profile .button-edit-profile a {
  color: #FFF;
  text-decoration: none !important; }
  .form-profile .button-edit-profile a:hover {
    text-decoration: none !important; }

.modal .modal-content {
  background-image: url(../images/background/back_pop.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #1cb8e8;
  background-size: cover;
  padding: 5px; }
  .modal .modal-content .container-AT-modal {
    border: 1px solid #FFF;
    border-radius: 10px; }
    .modal .modal-content .container-AT-modal .modal-header {
      border-bottom: none !important;
      color: #FFF; }
      .modal .modal-content .container-AT-modal .modal-header .close {
        position: absolute;
        left: 95%;
        background: #FFF;
        width: 25px;
        height: 25px;
        opacity: 1;
        margin-top: -20px;
        border-radius: 15px; }
    .modal .modal-content .container-AT-modal .modal-body {
      color: #FFF; }
    .modal .modal-content .container-AT-modal .modal-footer {
      border-top: none !important;
      position: absolute;
      width: 98%;
      top: 80%; }
      .modal .modal-content .container-AT-modal .modal-footer .button-footer-modal {
        background: #FFF;
        padding: 10px 25px;
        border-radius: 10px;
        border: 1px solid #666;
        color: #666 !important;
        text-decoration: none; }

.profile-user {
  background-image: url(../images/background/back_menu.png);
  background-repeat: no-repeat;
  background-color: #1cb8e8;
  background-size: cover;
  color: #FFF;
  /* Iconos */
  /* Iconos */ }
  .profile-user .menu-option-AT a {
    color: #FFF; }
  .profile-user .menu-option-AT .media-profile {
    transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg); }
  .profile-user .menu-option-AT .body-menu-At {
    font-family: "Piyama-Party" !important;
    font-size: 12px; }
    .profile-user .menu-option-AT .body-menu-At h6 {
      line-height: 25px; }
  .profile-user .menu-option-AT .media-user-active {
    transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg); }
  .profile-user .menu-option-AT .media-generalities-info {
    transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg); }
  .profile-user #perfil {
    display: none; }
  .profile-user #agenda {
    display: none; }
  .profile-user #participantes {
    display: none; }
  .profile-user #informacion {
    display: none; }
  .profile-user #vestimenta {
    display: none; }
  .profile-user #seguridad {
    display: none; }
  .profile-user #vuelos {
    display: none; }
  .profile-user #fotos {
    display: none; }
  .profile-user #mensajes {
    display: none; }
  .profile-user #faq {
    display: none; }
  .profile-user #imagen-mujer {
    display: none; }
  .profile-user footer {
    position: initial !important; }

@media (max-width: 480px) {
  .info-generalities .container-text-function {
    font-size: 11px; }

  .tipsSeguridad .text-security-container {
    font-size: 11px; } }
.profile-home {
  overflow-x: hidden !important;
  background-image: url(../images/background/back_perfil.png);
  background-repeat: no-repeat;
  background-color: #1cb8e8;
  background-size: cover;
  color: #FFF; }
  .profile-home .picture-profile {
    margin-top: 140px; }
    .profile-home .picture-profile img {
      padding: 14px;
      border-radius: 20px;
      transform: rotate(-7deg);
      -ms-transform: rotate(-7deg);
      -webkit-transform: rotate(-7deg); }

.placeholder-at-white::-webkit-input-placeholder {
  color: #fff !important; }

.participantes {
  background-image: url(../images/background/fondo_participantes.png);
  background-repeat: no-repeat;
  background-color: #1cb8e8;
  background-size: cover;
  color: #FFF; }
  .participantes .agenda-image-section {
    margin-top: 4px; }
  .participantes .bg-man {
    background: #66c0d7;
    background: -moz-linear-gradient(left, #66c0d7 0%, #3b6b94 50%, #3b6b94 54%, #2c2b62 100%);
    background: -webkit-linear-gradient(left, #66c0d7 0%, #3b6b94 50%, #3b6b94 54%, #2c2b62 100%);
    background: linear-gradient(to right, #66c0d7 0%, #3b6b94 50%, #3b6b94 54%, #2c2b62 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66c0d7', endColorstr='#2c2b62',GradientType=1 );
    font-family: "Piyama-Party" !important;
    font-size: 7px;
    padding: 6px;
    transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    text-align: center; }
  .participantes .bg-woman {
    background: #7ec3d7;
    background: -moz-linear-gradient(left, #7ec3d7 0%, #a8b4c5 35%, #b9a8ba 48%, #c59db1 56%, #df7192 100%);
    background: -webkit-linear-gradient(left, #7ec3d7 0%, #a8b4c5 35%, #b9a8ba 48%, #c59db1 56%, #df7192 100%);
    background: linear-gradient(to right, #7ec3d7 0%, #a8b4c5 35%, #b9a8ba 48%, #c59db1 56%, #df7192 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ec3d7', endColorstr='#df7192',GradientType=1 );
    font-family: "Piyama-Party" !important;
    font-size: 7px;
    padding: 6px;
    transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    text-align: center; }

.agenda {
  background-image: url(../images/background/fondo_seccion.png);
  background-repeat: no-repeat;
  background-color: #1cb8e8;
  background-size: cover;
  color: #FFF; }
  .agenda .agenda-image-section {
    margin-top: 5px;
    margin-left: -2px; }
  .agenda .nav-tabs {
    border-bottom: none !important; }
    .agenda .nav-tabs .active a {
      background: #e2e3e9;
      background: -moz-linear-gradient(top, #e2e3e9 0%, #e2e3e9 29%, #e2e3e9 29%, #ccd1d8 49%, #ccd1d8 100%) !important;
      background: -webkit-linear-gradient(top, #e2e3e9 0%, #e2e3e9 29%, #e2e3e9 29%, #ccd1d8 49%, #ccd1d8 100%) !important;
      background: linear-gradient(to bottom, #e2e3e9 0%, #e2e3e9 29%, #e2e3e9 29%, #ccd1d8 49%, #ccd1d8 100%) !important;
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e3e9', endColorstr='#ccd1d8',GradientType=0 ) !important;
      color: #000 !important; }
    .agenda .nav-tabs .list-at-panel {
      margin-right: 12px; }
      .agenda .nav-tabs .list-at-panel a {
        background: #8cc8c2;
        color: #FFF;
        padding: 1px 6px !important;
        border-radius: 4px !important;
        font-size: 12px;
        font-family: "Lato-Italic" !important; }
  .agenda .tab-pane .time-calendar {
    z-index: 9;
    -webkit-box-shadow: 4px 1px 5px 0px #666666;
    -moz-box-shadow: 4px 1px 5px 0px #666666;
    box-shadow: 4px 1px 5px 0px #666666;
    height: 75px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #e2e3e9;
    background: -moz-linear-gradient(top, #e2e3e9 0%, #e2e3e9 29%, #e2e3e9 29%, #ccd1d8 49%, #ccd1d8 100%) !important;
    background: -webkit-linear-gradient(top, #e2e3e9 0%, #e2e3e9 29%, #e2e3e9 29%, #ccd1d8 49%, #ccd1d8 100%) !important;
    background: linear-gradient(to bottom, #e2e3e9 0%, #e2e3e9 29%, #e2e3e9 29%, #ccd1d8 49%, #ccd1d8 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e3e9', endColorstr='#ccd1d8',GradientType=0 ) !important;
    color: #000 !important; }
  .agenda .tab-pane .container-text-event {
    height: 75px;
    font-size: 10px; }
    .agenda .tab-pane .container-text-event .text-calendar-event {
      padding-left: 15px; }
      .agenda .tab-pane .container-text-event .text-calendar-event p {
        margin-bottom: 3px; }
      .agenda .tab-pane .container-text-event .text-calendar-event .title-event {
        margin-bottom: 5px !important; }
  .agenda .tab-pane .event-1 {
    background-image: url("../images/background/back_azul.png");
    background-position: center;
    background-size: contain; }
  .agenda .tab-pane .event-2 {
    background-image: url("../images/background/back_verde.png");
    background-position: center;
    background-size: contain; }
  .agenda .tab-pane .event-3 {
    background-image: url("../images/background/back_morado.png");
    background-position: center;
    background-size: contain; }
  .agenda .tab-pane .event-4 {
    background-image: url("../images/background/back_lila.png");
    background-position: center;
    background-size: contain; }
  .agenda .tab-pane .event-5 {
    background-image: url("../images/background/back_rosa.png");
    background-position: center;
    background-size: contain; }

.info-generalities .text-header-section {
  padding: 11px 1px 8px 1px; }
.info-generalities .function-great {
  background: #fed222;
  background: -moz-linear-gradient(-45deg, #fed222 0%, #f7a731 35%, #f2935a 48%, #f2935a 52%, #f2935a 52%, #ee7d71 75%, #ec697c 100%);
  background: -webkit-linear-gradient(-45deg, #fed222 0%, #f7a731 35%, #f2935a 48%, #f2935a 52%, #f2935a 52%, #ee7d71 75%, #ec697c 100%);
  background: linear-gradient(135deg, #fed222 0%, #f7a731 35%, #f2935a 48%, #f2935a 52%, #f2935a 52%, #ee7d71 75%, #ec697c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fed222', endColorstr='#ec697c',GradientType=1 );
  font-family: "Piyama-Party" !important; }
  .info-generalities .function-great .title-great-function {
    padding: 10px; }
  .info-generalities .function-great .container-text-function {
    line-height: 16px; }

.tipsSeguridad .title-security {
  font-family: "Piyama-Party" !important; }

.bg-profile-title-big {
  background-image: url(../images/background/fondo_seccion.png);
  background-repeat: no-repeat;
  background-color: #1cb8e8;
  background-size: cover;
  color: #FFF; }
  .bg-profile-title-big .text-header-section {
    padding: 10px 10px 24px 13px; }

.vuelos .text-header-section {
  padding: 28px 30px 26px 28px; }
.vuelos .time-calendar {
  z-index: 9;
  -webkit-box-shadow: 4px 1px 5px 0px #666666;
  -moz-box-shadow: 4px 1px 5px 0px #666666;
  box-shadow: 4px 1px 5px 0px #666666;
  height: 75px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #e2e3e9;
  background: -moz-linear-gradient(top, #e2e3e9 0%, #e2e3e9 29%, #e2e3e9 29%, #ccd1d8 49%, #ccd1d8 100%) !important;
  background: -webkit-linear-gradient(top, #e2e3e9 0%, #e2e3e9 29%, #e2e3e9 29%, #ccd1d8 49%, #ccd1d8 100%) !important;
  background: linear-gradient(to bottom, #e2e3e9 0%, #e2e3e9 29%, #e2e3e9 29%, #ccd1d8 49%, #ccd1d8 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e3e9', endColorstr='#ccd1d8',GradientType=0 ) !important;
  color: #000 !important; }
.vuelos .container-text-event {
  height: 75px;
  font-size: 10px; }
  .vuelos .container-text-event .text-calendar-event {
    padding-left: 15px; }
    .vuelos .container-text-event .text-calendar-event p {
      margin-bottom: 3px; }
    .vuelos .container-text-event .text-calendar-event .title-event {
      margin-bottom: 5px !important; }
.vuelos .flight-1 {
  background-image: url("../images/background/b_vuelo_azul.png");
  background-position: center;
  background-size: contain; }
.vuelos .flight-2 {
  background-image: url("../images/background/b_vuelo_cielo.png");
  background-position: center;
  background-size: contain; }
.vuelos .flight-3 {
  background-image: url("../images/background/b_vuelo_verde.png");
  background-position: center;
  background-size: contain; }
.vuelos .flight-4 {
  background-image: url("../images/background/b_vuelo_morado.png");
  background-position: center;
  background-size: contain; }
.vuelos .flight-5 {
  background-image: url("../images/background/b_vuelo_lila.png");
  background-position: center;
  background-size: contain; }

.mensajes .people-message {
  height: 65px; }
.mensajes .container-text-message {
  background: #e2e3e9;
  background: -moz-linear-gradient(top, #e2e3e9 0%, #e2e3e9 29%, #e2e3e9 29%, #ccd1d8 49%, #ccd1d8 100%) !important;
  background: -webkit-linear-gradient(top, #e2e3e9 0%, #e2e3e9 29%, #e2e3e9 29%, #ccd1d8 49%, #ccd1d8 100%) !important;
  background: linear-gradient(to bottom, #e2e3e9 0%, #e2e3e9 29%, #e2e3e9 29%, #ccd1d8 49%, #ccd1d8 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e3e9', endColorstr='#ccd1d8',GradientType=0 ) !important;
  color: #000 !important;
  border-radius: 55px;
  height: 65px;
  font-size: 12px; }
  .mensajes .container-text-message .container-text-message {
    padding: 5px; }
.mensajes .balloon {
  border-radius: 20px;
  background-color: #159eda;
  padding: 10px;
  width: 100%; }
.mensajes .balloon:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 20px solid #159eda;
  border-right: 18px solid transparent;
  border-left: 18px solid transparent;
  margin: -24px 0 0 -12px;
  transform: rotate(-13deg);
  -ms-transform: rotate(-13deg);
  -webkit-transform: rotate(-13deg); }

.faq .text-header-section {
  padding: 20px 10px 24px 13px; }
.faq .panel .panel-heading {
  border-radius: 0px !important;
  border: none !important;
  color: #FFF !important; }
  .faq .panel .panel-heading a {
    text-decoration: none !important; }
.faq .panel .panel-body {
  background: #e2e3e9;
  background: -moz-linear-gradient(top, #e2e3e9 0%, #e2e3e9 29%, #e2e3e9 29%, #ccd1d8 49%, #ccd1d8 100%) !important;
  background: -webkit-linear-gradient(top, #e2e3e9 0%, #e2e3e9 29%, #e2e3e9 29%, #ccd1d8 49%, #ccd1d8 100%) !important;
  background: linear-gradient(to bottom, #e2e3e9 0%, #e2e3e9 29%, #e2e3e9 29%, #ccd1d8 49%, #ccd1d8 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e3e9', endColorstr='#ccd1d8',GradientType=0 ) !important;
  color: #000 !important; }
.faq .faq-1 {
  background-image: url("../images/background/b_faq_azul.png");
  background-position: center;
  background-size: contain; }
.faq .faq-2 {
  background-image: url("../images/background/b_faq_cielo.png");
  background-position: center;
  background-size: contain; }
.faq .faq-3 {
  background-image: url("../images/background/b_faq_verde.png");
  background-position: center;
  background-size: contain; }
.faq .faq-4 {
  background-image: url("../images/background/b_faq_morado.png");
  background-position: center;
  background-size: contain; }
.faq .faq-5 {
  background-image: url("../images/background/b_faq_lila.png");
  background-position: center;
  background-size: contain; }
.faq .faq-6 {
  background-image: url("../images/background/b_faq_rosa.png");
  background-position: center;
  background-size: contain; }
.faq .faq-7 {
  background-image: url("../images/background/b_faq_guinda.png");
  background-position: center;
  background-size: contain; }
.faq .faq-8 {
  background-image: url("../images/background/b_faq_rey.png");
  background-position: center;
  background-size: contain; }
.faq .faq-9 {
  background-image: url("../images/background/b_faq_mora.png");
  background-position: center;
  background-size: contain; }

html {
  position: relative;
  min-height: 100%; }

footer {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%; }

footer {
  text-align: right; }

/*# sourceMappingURL=style.css.map */
