.agenda
  background-image: url(../images/background/fondo_seccion.png)
  background-repeat: no-repeat
  background-color: #1cb8e8
  background-size: cover
  color: #FFF
  .agenda-image-section
    margin-top: 5px
    margin-left: -2px
  .nav-tabs
    border-bottom: none !important
    .active
      a
        background: #e2e3e9 /* Old browsers */
        background: -moz-linear-gradient(top, #e2e3e9 0%, #e2e3e9 29%, #e2e3e9 29%, #ccd1d8 49%, #ccd1d8 100%) !important /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #e2e3e9 0%,#e2e3e9 29%,#e2e3e9 29%,#ccd1d8 49%,#ccd1d8 100%) !important /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #e2e3e9 0%,#e2e3e9 29%,#e2e3e9 29%,#ccd1d8 49%,#ccd1d8 100%) !important /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e3e9', endColorstr='#ccd1d8',GradientType=0 ) !important /* IE6-9 */
        color: #000 !important
    .list-at-panel
      margin-right: 12px
      a
        background: #8cc8c2
        color: #FFF
        padding: 1px 6px !important
        border-radius: 4px !important
        font-size: 12px
        font-family: "Lato-Italic" !important
  .tab-pane
    .time-calendar
      z-index: 9
      -webkit-box-shadow: 4px 1px 5px 0px rgba(102,102,102,1)
      -moz-box-shadow: 4px 1px 5px 0px rgba(102,102,102,1)
      box-shadow: 4px 1px 5px 0px rgba(102,102,102,1)
      height: 75px
      border-top-right-radius: 10px
      border-bottom-right-radius: 10px
      background: #e2e3e9 /* Old browsers */
      background: -moz-linear-gradient(top, #e2e3e9 0%, #e2e3e9 29%, #e2e3e9 29%, #ccd1d8 49%, #ccd1d8 100%) !important /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #e2e3e9 0%,#e2e3e9 29%,#e2e3e9 29%,#ccd1d8 49%,#ccd1d8 100%) !important /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #e2e3e9 0%,#e2e3e9 29%,#e2e3e9 29%,#ccd1d8 49%,#ccd1d8 100%) !important /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e3e9', endColorstr='#ccd1d8',GradientType=0 ) !important /* IE6-9 */
      color: #000 !important
    .container-text-event
      height: 75px
      font-size: 10px
      .text-calendar-event
        padding-left: 15px
        p
          margin-bottom: 3px
        .title-event
          margin-bottom: 5px !important
    .event-1
      background-image: url("../images/background/back_azul.png")
      background-position: center
      background-size: contain
    .event-2
      background-image: url("../images/background/back_verde.png")
      background-position: center
      background-size: contain
    .event-3
      background-image: url("../images/background/back_morado.png")
      background-position: center
      background-size: contain
    .event-4
      background-image: url("../images/background/back_lila.png")
      background-position: center
      background-size: contain
    .event-5
      background-image: url("../images/background/back_rosa.png")
      background-position: center
      background-size: contain
