.bg-profile-title-big
  background-image: url(../images/background/fondo_seccion.png)
  background-repeat: no-repeat
  background-color: #1cb8e8
  background-size: cover
  color: #FFF
  .text-header-section
    padding: 10px 10px 24px 13px