.faq
  .text-header-section
    padding: 20px 10px 24px 13px
  .panel
    .panel-heading
      border-radius: 0px !important
      border: none !important
      color: #FFF !important
      a
        text-decoration: none !important
    .panel-body
      background: #e2e3e9 /* Old browsers */
      background: -moz-linear-gradient(top, #e2e3e9 0%, #e2e3e9 29%, #e2e3e9 29%, #ccd1d8 49%, #ccd1d8 100%) !important /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #e2e3e9 0%,#e2e3e9 29%,#e2e3e9 29%,#ccd1d8 49%,#ccd1d8 100%) !important /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #e2e3e9 0%,#e2e3e9 29%,#e2e3e9 29%,#ccd1d8 49%,#ccd1d8 100%) !important /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e3e9', endColorstr='#ccd1d8',GradientType=0 ) !important /* IE6-9 */
      color: #000 !important
  .faq-1
    background-image: url("../images/background/b_faq_azul.png")
    background-position: center
    background-size: contain
  .faq-2
    background-image: url("../images/background/b_faq_cielo.png")
    background-position: center
    background-size: contain
  .faq-3
    background-image: url("../images/background/b_faq_verde.png")
    background-position: center
    background-size: contain
  .faq-4
    background-image: url("../images/background/b_faq_morado.png")
    background-position: center
    background-size: contain
  .faq-5
    background-image: url("../images/background/b_faq_lila.png")
    background-position: center
    background-size: contain
  .faq-6
    background-image: url("../images/background/b_faq_rosa.png")
    background-position: center
    background-size: contain
  .faq-7
    background-image: url("../images/background/b_faq_guinda.png")
    background-position: center
    background-size: contain
  .faq-8
    background-image: url("../images/background/b_faq_rey.png")
    background-position: center
    background-size: contain
  .faq-9
    background-image: url("../images/background/b_faq_mora.png")
    background-position: center
    background-size: contain