@font-face
  font-family: "Lato-Bold"
  src: url("../fonts/Lato-Bold.ttf")
  font-weight: normal
@font-face
  font-family: "Lato-Italic"
  src: url("../fonts/Lato-Italic.ttf")
  font-weight: normal
@font-face
  font-family: "Lato-Light"
  src: url("../fonts/Lato-Light.ttf")
  font-weight: normal
@font-face
  font-family: "Lato-Regular"
  src: url("../fonts/Lato-Regular.ttf")
  font-weight: normal
@font-face
  font-family: "Piyama-Party"
  src: url("../fonts/PyjamaParty.ttf")
  font-weight: normal

