.form-index
  .input-group
    input
      font-family: "Lato-Regular" !important
      border-top-left-radius: 16px
      border-bottom-left-radius: 16px
    .input-group-addon
      color: #FFF
      border-top-right-radius: 16px
      border-bottom-right-radius: 16px
      background: #000
      border: none !important
  .button-send-form
    border-radius: 20px
    font-family: "Lato-Regular" !important
    background: #222228
    background: -moz-linear-gradient(top, #222228 49%, #222228 51%, #222228 51%, #222228 61%, #000000 100%) /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #222228 49%,#222228 51%,#222228 51%,#222228 61%,#000000 100%) /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #222228 49%,#222228 51%,#222228 51%,#222228 61%,#000000 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222228', endColorstr='#000000',GradientType=0 ) /* IE6-9 */
    color: #FFF
    border: none !important
.form-modal
  .input-group
    input
      border-right: none !important
      font-family: "Lato-Regular" !important
      border-top-left-radius: 16px
      border-bottom-left-radius: 16px
    .input-group-addon
      color: #7497ca
      border-top-right-radius: 16px
      border-bottom-right-radius: 16px
      background: #FFF !important
      border: none !important
  .send-modal
    border-radius: 20px
    font-family: "Lato-Regular" !important
    background: #e2e3e9 /* Old browsers */
    background: -moz-linear-gradient(top, #e2e3e9 0%, #e2e3e9 29%, #e2e3e9 29%, #ccd1d8 49%, #ccd1d8 100%) /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e2e3e9 0%,#e2e3e9 29%,#e2e3e9 29%,#ccd1d8 49%,#ccd1d8 100%) /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e2e3e9 0%,#e2e3e9 29%,#e2e3e9 29%,#ccd1d8 49%,#ccd1d8 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e3e9', endColorstr='#ccd1d8',GradientType=0 ) /* IE6-9 */
.form-profile
  input
    color: #FFF !important
    border: none !important
    border-radius: 0px !important
  .input-morado
    background: #253781
    font-family: "Lato-Regular"
  .input-morado-light
    background: #91568d
  .input-green-light
    background: #73c096
  .input-blue-light
    background: #70c8dd
  .send-button-profile
    background: #6598d1 !important
    background: -moz-linear-gradient(top, #6598d1 1%, #6598d1 33%, #2a82c4 65%, #2a82c4 100%) !important
    background: -webkit-linear-gradient(top, #6598d1 1%, #6598d1 33%, #2a82c4 65%, #2a82c4 100%) !important
    background: linear-gradient(to bottom, #6598d1 1%, #6598d1 33%, #2a82c4 65%, #2a82c4 100%) !important
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6598d1', endColorstr='#2a82c4', GradientType=0) !important
    border-radius: 20px !important
    border: none !important
  .button-edit-profile
    a
      color: #FFF
      text-decoration: none !important
      &:hover
        text-decoration: none !important