.index-home
  background-image: url(../images/background/back_g_index.png)
  background-position: center center
  background-repeat: no-repeat
  background-color: #1cb8e8
  background-size: cover
  .logo-AT
    padding-top: 30px
  .pass-reset
    font-family: "Piyama-Party" !important
    font-size: 10px
    margin-top: -25px
    a
      color: #000

