.info-generalities
  .text-header-section
    padding: 11px 1px 8px 1px
  .function-great
    background: #fed222 /* Old browsers */
    background: -moz-linear-gradient(-45deg, #fed222 0%, #f7a731 35%, #f2935a 48%, #f2935a 52%, #f2935a 52%, #ee7d71 75%, #ec697c 100%) /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #fed222 0%,#f7a731 35%,#f2935a 48%,#f2935a 52%,#f2935a 52%,#ee7d71 75%,#ec697c 100%) /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #fed222 0%,#f7a731 35%,#f2935a 48%,#f2935a 52%,#f2935a 52%,#ee7d71 75%,#ec697c 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fed222', endColorstr='#ec697c',GradientType=1 ) /* IE6-9 fallback on horizontal gradient */
    font-family: "Piyama-Party" !important
    .title-great-function
      padding: 10px
    .container-text-function
      line-height: 16px