.mensajes
  .people-message
    height: 65px
  .container-text-message
    background: #e2e3e9 /* Old browsers */
    background: -moz-linear-gradient(top, #e2e3e9 0%, #e2e3e9 29%, #e2e3e9 29%, #ccd1d8 49%, #ccd1d8 100%) !important /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e2e3e9 0%,#e2e3e9 29%,#e2e3e9 29%,#ccd1d8 49%,#ccd1d8 100%) !important /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e2e3e9 0%,#e2e3e9 29%,#e2e3e9 29%,#ccd1d8 49%,#ccd1d8 100%) !important /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e3e9', endColorstr='#ccd1d8',GradientType=0 ) !important /* IE6-9 */
    color: #000 !important
    border-radius: 55px
    height: 65px
    font-size: 12px
    .container-text-message
      padding: 5px
  .balloon
    border-radius: 20px
    background-color: #159eda
    padding: 10px
    width: 100%
  .balloon:before
    content: ""
    position: absolute
    width: 0
    height: 0
    border-bottom: 20px solid #159eda
    border-right: 18px solid transparent
    border-left: 18px solid transparent
    margin: -24px 0 0 -12px
    transform: rotate(-13deg)
    -ms-transform: rotate(-13deg) /* IE 9 */
    -webkit-transform: rotate(-13deg) /* Chrome, Safari, Opera */
