.modal
  .modal-content
    background-image: url(../images/background/back_pop.png)
    background-position: center center
    background-repeat: no-repeat
    background-attachment: fixed
    background-color: #1cb8e8
    background-size: cover
    padding: 5px
    .container-AT-modal
      border: 1px solid #FFF
      border-radius: 10px
      .modal-header
        border-bottom: none !important
        color: #FFF
        .close
          position: absolute
          left: 95%
          background: #FFF
          width: 25px
          height: 25px
          opacity: 1
          margin-top: -20px
          border-radius: 15px
      .modal-body
        color: #FFF
      .modal-footer
        border-top: none !important
        position: absolute
        width: 98%
        top: 80%
        .button-footer-modal
          background: #FFF
          padding: 10px 25px
          border-radius: 10px
          border: 1px solid #666
          color: #666 !important
          text-decoration: none
