.participantes
  background-image: url(../images/background/fondo_participantes.png)
  background-repeat: no-repeat
  background-color: #1cb8e8
  background-size: cover
  color: #FFF
  .agenda-image-section
    margin-top: 4px
  .bg-man
    background: #66c0d7 /* Old browsers */
    background: -moz-linear-gradient(left, #66c0d7 0%, #3b6b94 50%, #3b6b94 54%, #2c2b62 100%) /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #66c0d7 0%,#3b6b94 50%,#3b6b94 54%,#2c2b62 100%) /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #66c0d7 0%,#3b6b94 50%,#3b6b94 54%,#2c2b62 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66c0d7', endColorstr='#2c2b62',GradientType=1 ) /* IE6-9 */
    font-family: "Piyama-Party" !important
    font-size: 7px
    padding: 6px
    transform: rotate(-5deg)
    -ms-transform: rotate(-5deg) /* IE 9 */
    -webkit-transform: rotate(-5deg) /* Chrome, Safari, Opera */
    text-align: center
  .bg-woman
    background: #7ec3d7 /* Old browsers */
    background: -moz-linear-gradient(left, #7ec3d7 0%, #a8b4c5 35%, #b9a8ba 48%, #c59db1 56%, #df7192 100%) /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #7ec3d7 0%,#a8b4c5 35%,#b9a8ba 48%,#c59db1 56%,#df7192 100%) /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #7ec3d7 0%,#a8b4c5 35%,#b9a8ba 48%,#c59db1 56%,#df7192 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ec3d7', endColorstr='#df7192',GradientType=1 ) /* IE6-9 */
    font-family: "Piyama-Party" !important
    font-size: 7px
    padding: 6px
    transform: rotate(-5deg)
    -ms-transform: rotate(-5deg) /* IE 9 */
    -webkit-transform: rotate(-5deg) /* Chrome, Safari, Opera */
    text-align: center
