.profile-home
  overflow-x: hidden !important
  background-image: url(../images/background/back_perfil.png)
  background-repeat: no-repeat
  background-color: #1cb8e8
  background-size: cover
  color: #FFF
  .picture-profile
    margin-top: 140px
    img
      padding: 14px
      border-radius: 20px
      transform: rotate(-7deg)
      -ms-transform: rotate(-7deg) /* IE 9 */
      -webkit-transform: rotate(-7deg) /* Chrome, Safari, Opera */