.profile-user
  background-image: url(../images/background/back_menu.png)
  background-repeat: no-repeat
  background-color: #1cb8e8
  background-size: cover
  color: #FFF
  .menu-option-AT
    a
      color: #FFF
    .media-profile
      transform: rotate(7deg)
      -ms-transform: rotate(7deg) /* IE 9 */
      -webkit-transform: rotate(7deg) /* Chrome, Safari, Opera */
    .body-menu-At
      font-family: "Piyama-Party"!important
      font-size: 12px
      h6
        line-height: 25px
    .media-user-active
      transform: rotate(-5deg)
      -ms-transform: rotate(-5deg) /* IE 9 */
      -webkit-transform: rotate(-5deg) /* Chrome, Safari, Opera */
    .media-generalities-info
      transform: rotate(7deg)
      -ms-transform: rotate(7deg) /* IE 9 */
      -webkit-transform: rotate(7deg) /* Chrome, Safari, Opera */
  /* Iconos */
  #perfil
    display: none
  #agenda
    display: none
  #participantes
    display: none
  #informacion
    display: none
  #vestimenta
    display: none
  #seguridad
    display: none
  #vuelos
    display: none
  #fotos
    display: none
  #mensajes
    display: none
  #faq
    display: none
  #imagen-mujer
    display: none
  footer
    position: initial !important



  /* Iconos */