.vuelos
  .text-header-section
    padding: 28px 30px 26px 28px
  .time-calendar
    z-index: 9
    -webkit-box-shadow: 4px 1px 5px 0px rgba(102,102,102,1)
    -moz-box-shadow: 4px 1px 5px 0px rgba(102,102,102,1)
    box-shadow: 4px 1px 5px 0px rgba(102,102,102,1)
    height: 75px
    border-top-right-radius: 10px
    border-bottom-right-radius: 10px
    background: #e2e3e9 /* Old browsers */
    background: -moz-linear-gradient(top, #e2e3e9 0%, #e2e3e9 29%, #e2e3e9 29%, #ccd1d8 49%, #ccd1d8 100%) !important /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e2e3e9 0%,#e2e3e9 29%,#e2e3e9 29%,#ccd1d8 49%,#ccd1d8 100%) !important /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e2e3e9 0%,#e2e3e9 29%,#e2e3e9 29%,#ccd1d8 49%,#ccd1d8 100%) !important /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e3e9', endColorstr='#ccd1d8',GradientType=0 ) !important /* IE6-9 */
    color: #000 !important
  .container-text-event
    height: 75px
    font-size: 10px
    .text-calendar-event
      padding-left: 15px
      p
        margin-bottom: 3px
      .title-event
        margin-bottom: 5px !important
  .flight-1
    background-image: url("../images/background/b_vuelo_azul.png")
    background-position: center
    background-size: contain
  .flight-2
    background-image: url("../images/background/b_vuelo_cielo.png")
    background-position: center
    background-size: contain
  .flight-3
    background-image: url("../images/background/b_vuelo_verde.png")
    background-position: center
    background-size: contain
  .flight-4
    background-image: url("../images/background/b_vuelo_morado.png")
    background-position: center
    background-size: contain
  .flight-5
    background-image: url("../images/background/b_vuelo_lila.png")
    background-position: center
    background-size: contain


